* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: CaskaydiaCove Nerd Font, Space Mono Nerd Font, Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 700;
}


window#waybar {
    background-color: rgba(255, 255, 255, 0);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

#window {
    color: rgb(35, 33, 54);
}

#workspaces {
    color: rgb(246, 193, 119);
    background: rgb(42, 39, 63);
    border: 2px solid rgb(235, 111, 146);
    border-radius: 12px;
}

#workspaces button {
    margin: 0px 4px;
    padding: 0 5px;
    background-color: transparent;
    color: rgb(156, 207, 216);
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 -3px rgb(224, 222, 244);
}

#workspaces button.focused {
    background-color: #64727D;
    box-shadow: inset 0 -3px rgb(246, 193, 119);
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd {
    padding: 0 10px;
    color: #ffffff;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    margin-left: 1px;
    margin-right: 1px;
    margin-bottom: 2px;
    padding-left: 4px;
    padding-right: 8px;
    border-radius: 12px;
    transition: none;
    color: rgb(246, 193, 119);
    background: rgb(42, 39, 63);
    border: 2px solid rgb(235, 111, 146);
}

#battery {
    margin-left: 1px;
    margin-right: 1px;
    margin-bottom: 2px;
    padding-left: 4px;
    padding-right: 8px;
    border-radius: 12px;
    transition: none;
    color: rgb(62, 143, 176);
    background: rgb(42, 39, 63);
    border: 2px solid rgb(235, 111, 146);
}

#battery.charging, #battery.plugged {
    color: rgb(62, 143, 176);
    background: rgb(42, 39, 63);
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: #2ecc71;
    color: #000000;
}

#memory {
    margin-left: 1px;
    margin-right: 1px;
    margin-bottom: 2px;
    padding-left: 4px;
    padding-right: 8px;
    border-radius: 12px;
    transition: none;
    color: rgb(196, 167, 231);
    background: rgb(42, 39, 63);
    border: 2px solid rgb(235, 111, 146);
    border-bottom: 2px solid rgb(235, 111, 146);
}

#disk {
    background-color: #964B00;
}

#backlight {
    margin-left: 1px;
    margin-right: 1px;
    margin-bottom: 2px;
    padding-left: 4px;
    padding-right: 8px;
    border-radius: 12px;
    transition: none;
    color: rgb(224, 222, 244);
    background: rgb(42, 39, 63);
    border: 2px solid rgb(235, 111, 146);
}

#network {
    margin-left: 1px;
    margin-right: 1px;
    margin-bottom: 2px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 12px;
    transition: none;
    color: rgb(156, 207, 216);
    background: rgb(42, 39, 63);
    border: 2px solid rgb(235, 111, 146);
    border-bottom: 2px solid rgb(235, 111, 146);
}

#network.disconnected {
    background-color: rgb(235, 111, 146);
    color: rgb(110, 106, 134);
}

#pulseaudio {
    margin-left: 1px;
    margin-right: 1px;
    margin-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 12px;
    transition: none;
    color: rgb(246, 193, 119);
    background: rgb(42, 39, 63);
    border: 2px solid rgb(235, 111, 146);
    border-bottom: 2px solid rgb(235, 111, 146);
    border-top: 2px solid rgb(235, 111, 146);
}

#pulseaudio.muted {
    background-color: rgb(235, 111, 146);
    color: rgb(110, 106, 134);
}

#wireplumber {
    background-color: #fff0f5;
    color: #000000;
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    background-color: #f0932b;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    margin-left: 1px;
    margin-right: 1px;
    margin-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 12px;
    transition: none;
    color: rgb(246, 193, 119);
    background: rgb(42, 39, 63);
    border: 2px solid rgb(235, 111, 146);
    border-bottom: 2px solid rgb(235, 111, 146);
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    margin-left: 1px;
    margin-right: 1px;
    margin-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 12px;
    transition: none;
    color: rgb(235, 111, 146);
    background: rgb(42, 39, 63);
    border: 2px solid rgb(235, 111, 146);
    border-bottom: 2px solid rgb(235, 111, 146);
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}
